body {
    background: #2a2ea8;
    color:black;
    margin:5px;
    font-family: "Oswald", sans-serif;
    margin-bottom:100px;}


    header {
    background:#2a2ea8;
    font-size: 50px;
    padding-left:3%;
    border: solid black 5px;
    color:white;}


    .chamada{
    background:white;
    border: solid black 5px; 
    padding: 20px;
    display:flex;
    justify-content:center; }
       

    .texto{
    margin-right:10%;}
      

    h1{
    font-size:35px }

        
    p{
    font-size:20px}


    .musicas{
    display:flex;
    overflow:auto;
    gap:10px}
        
    .catalogo{    
    padding-left:20px;
    padding-right:20px;
    background:#2a2ea8;
    margin-top:20px;}

    .musicas img {
    opacity: 0.8;
    height:180px;}
    

    .musicas img:hover{
    opacity:1.0;
    border:2px solid white; }
   

    .catalogo h2{
    color:white}
    

    .principais iframe{
    margin-right:40px;}


   .principais iframe:hover{
    border:solid #2a2ea8 4px;}
